@import "@fortawesome/fontawesome-free/css/all.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.entries-table {
    width: 100%;
}

.entries-table > th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    line-height: 1.2em;
}

.entries-table tr > td:last-child {
    border: 0;
}

.alert {
    padding: 10px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.alert-success {
    background-color: lightgreen;
    color: #4e4f57;
}

.alert-danger {
    background-color: #f17575;
    color: #4e4f57;
}
